body {background-color:  #F8F3EE ;}

.main {color : #F8F3EE }
.sec {color: #F1D5E4}
.sec-contract {color: rgb(255, 156, 173)}
.black {color: rgb(42, 41, 41)}

.bg-main {background-color : #F8F3EE }
.bg-sec {background-color: #F1D5E4}
.bg-sec-contract {color: rgb(255, 156, 173)}

.btnf {font-size: 14px; font-weight: 600;}

.center-abs {position: absolute; top: 0 ;right: 0 ; left: 0; bottom: 0; margin: auto}
.bcu {cursor: pointer; user-select: none;}
.pic {object-fit: cover; object-position: center;}
.bar {margin-top: 130px;}

.sec-f {font-family: 'Bebas Neue', sans-serif;}
.lg-f {font-family: 'Raleway', sans-serif;}


.trans {transition: all; transition-duration: .5s;}

.typ-btn-light {  
     width:fit-content;
    height: fit-content;
    background-color:  rgb(255, 156, 173);
    border: solid 2px rgb(255, 156, 173);
    color: #373737;
    border-radius: 26px;
    padding:12px 24px;
    font-size: 15px;
    font-weight: 700;
}
.typ-btn-light:hover {
    border: solid 2px rgb(255, 156, 173);
    background-color: inherit;
    color : rgb(225, 89, 112);
}

.typ-btn {  
    width:fit-content;
   height: fit-content;
   background-color: #312d2d;
   border: solid 2px #312d2d;
   color: #F8F3EE ;
   border-radius: 26px;
   padding:12px 24px;
   font-size: 15px;
   font-weight: 500;
}
.typ-btn:hover {
   border: solid 2px #312d2d;
   background-color: inherit;
   color : #312d2d;
}

.mixed-btn {  
    width:fit-content;
   height: fit-content;
   background-color: #F1B809;
   color: #312d2d;
   border-radius: 26px;
   padding:12px 24px;
   font-size: 15px;
   font-weight: 700;
}
.mixed-btn:hover {
   color: #F1B809;
   background-color: #312d2d;
}
.typ-input {
    width:65%;
    color:rgba(34, 34, 34, 0.871);
    font-weight: 600;
    border-radius: 23px;
    outline-offset: inherit;
    outline: inherit;
    border:inherit;
    padding: 12px 16px;
    background-color: #FFFFFF;
}
.typ-input:focus{
    outline-offset: inherit;
    border:1px solid #68E5B2;
    padding-left: 25px;
    outline: inherit;
}

.titF-42 {font-size: 42px; font-weight: 600;}
.titF-38{font-size: 38px; font-weight: 500;}
.titF-72{font-size: 72px; font-weight: 700;}
.titF-24 {font-size : 24px; font-weight:700}
.titF-20 {font-size : 20px; font-weight:500}
.titF-18 {font-size : 18px; font-weight:500}
.titF-16 {font-size : 16px; font-weight:400}

.titF {
    font-size: 48px;
    font-weight: 700;
    color:rgb(42, 41, 41);
    line-height: 3rem;
}

.grid-ctn {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
    margin: 0 auto;
    gap:10px;
    width:98%;
}

@media (max-width: 990px) {
    .titF {font-size: 42px;}
    .titF-72{font-size: 52px;}
    .titF-38{font-size: 32px; font-weight: 500;}
.titF-20 {font-size : 18px; font-weight:500}
.grid-ctn {
    grid-template-columns: 40% 40%;
    justify-content: center;
    margin: 0 auto;
    gap:33px;
}
}
@media (max-width: 766px) {
    .titF {font-size: 36px;}
    .titF-38{font-size: 28px; font-weight: 500;}
    .titF-72{font-size: 40px;}
.titF-20 {font-size : 18px; }
.titF-42 {font-size: 36px; }
.grid-ctn {
    grid-template-columns: 100%;
    padding:0px;
    margin: auto;
    gap:30px;
    width:49%;
}
}
